<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ManagerStudentLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ManagerStudentLib.Properties.Settings>
            <setting name="HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DOMAIN" serializeAs="String">
                <value>api</value>
            </setting>
            <setting name="TIME_OUT" serializeAs="String">
                <value>1000</value>
            </setting>
        </ManagerStudentLib.Properties.Settings>
    </userSettings>
</configuration>